<style type="text/css">
.box {
   margin-right: 1rem;
}
@keyframes boxAnime{
   0% { width : 280px }
  40% { width : 280px }
  60% { width : 150px }
 100% { width : 150px }
}

.box div {
  float: left;
}

.ProjectList{
  margin: 1rem;
  clear: both;
}

iframe#parentframe { 
  width: 100%;
}
</style>
