<style type="text/css">
.box {
}
@keyframes boxAnime{
   0% { width : 280px }
  40% { width : 280px }
  60% { width : 150px }
 100% { width : 150px }
}

.box div {
  float: left;
  margin: 1rem;
}

.ProjectList{
 clear: both;
}
</style>
