<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>index.html</title>
		
		<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
		<script type="text/javascript" src="https://unpkg.com/vue-simple-suggest"></script>
		<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>

		<script type="text/javascript" src="js/pramWrite.js"></script>
		
		<link rel="stylesheet" href="https://unpkg.com/vue-simple-suggest/dist/styles.css">
<!--		<link rel="stylesheet" href="css/inlineBlock.css"> -->
		<link rel="stylesheet" href="css/inlineBlock2.css">
	</head>
	
	<body onload="pramWrite()">
		<div class="box" id="makeImg">
			<div>
				<h1>index</h1>
				<hr>
				<div id="app">
				<!-- Getの値取得テスト↓ -->
<!--				<p id="dat"> TEST </p> -->

				<!-- プルダウン作成↓ -->
				<form method="get" action="./" id="example">
					Min:
					<select v-model="selectedNo" name="Min">
						<option disabled value="">PL一覧</option>
						<option v-for="ProjectList in ProjectLists" 
										v-bind:value="ProjectList.No" 
										v-bind:key="ProjectList.No">
							{{ ProjectList.No }}
						</option>
					</select>
					|Max:
					<select v-model="selectedNo" name="Max">
						<option disabled value="">PL一覧</option>
						<option v-for="ProjectList in ProjectLists" 
							v-bind:value="ProjectList.No" 
							v-bind:key="ProjectList.No">
							{{ ProjectList.No }}
						</option>
					</select>
					<input type="submit">
				</form>
					
					<div>
						<ul>
							<div class="ProjectList" v-for="ProjectList in ProjectLists">
								<li>{{ ProjectList.No }} <a v-bind:href=" ProjectList.Name + '/index.html'">{{ ProjectList.Name }}</a></li>
							</div>
						</ul>
					</div>
					<div class="ProjectList">
						<p>現在の値:{{ paramMin }}|現在の値:{{ paramMax }}</p>
					</div>
				</div>

			<script type="text/javascript" src="js/Vue.js"></script>
			</div>
			
			<div>
				<h1>スプレッドシート</h1>
				<hr>
				<h4>以下の内容は左側のリストに連携しています</h4>
				<iframe id="parentframe" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTPioEu79S_GXuJuwN5zaLiEAXPLDfGPc4GoBsGEiomd1JktPfAwn4RXz1nZnBQWFFkMFm0tLlk4E22/pubhtml?gid=2009760063&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
				
				<script type="text/javascript">
					// 子画面の要素を取得
					var elm = document.getElementById("parentframe");
					
					// 子画面のコンテンツサイズに合わせてサイズを変更する関数
					function changeParentHeight(){
						elm.style.height = elm.contentWindow.document.body.scrollHeight + "px";
					}
					
					// 親画面 iframe の高さを変更するイベント
					// 1. 子画面の読み込み完了時点で処理を行う
					elm.contentWindow.onload = function(){ changeParentHeight(); };

					// 2. 子画面のウィンドウサイズ変更が完了した時点で処理を行う
					var timer = 0;
					elm.contentWindow.onresize = function () {
						if (timer > 0) {
							clearTimeout(timer);
						}
						timer = setTimeout(function () {
							changeParentHeight();
						}, 100);
					};
				</script>
			</div>
		</div>
	</body>
</html>
