<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <link rel="stylesheet" href="css/SCSS.css">
<!--    <script src="https://unpkg.com/vue"></script> -->
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
<!--        <script type="text/javascript" src="js/index.js"></script> -->

<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <script type="text/javascript" src="https://unpkg.com/vue-simple-suggest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-suggest/dist/styles.css">
  </head>
  <body>
    <p>ここにHTMLの文章などが入ります</p>

    <div id="app">
      <h1>{{ message }}</h1>
      <div class="books">
        <div class="book" v-for="book in books">
          <div class="info">
            <div class="title"><i class="book icon"></i> {{book.title}}</div>
            <div class="review">{{book.review}}</div>
          </div>
          <div class="rate">
            <div class="ui statistics">
              <div class="statistic">
                <div class="value"><i class="star icon"></i> {{book.rate}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="app2">
      <vue-simple-suggest 
        v-model="selected" 
        :list="suggestionList" 
        :filter-by-query="true">
      </vue-simple-suggest>
      <h1>{{ message }}</h1>
    <ol>
        <li v-for="person in vtuber">{{ person.name }}</li>
    </ol>
      <li v-for="item in items" :key="item.message">
        {{ item.message }}
      </li>

        <div class="book" v-for="book in books">{{ book.title }}</div>
    </div>
    
    <script>
      const app2 = new Vue({
        el: '#app2',
        data: {
          selected: null,
          suggestionList: ['Canada', 'China', 'Cameroon', "Italy", "Iraq", "Iceland"],
          message: 'Book List',
          items: [
            { message: 'Foo' },
            { message: 'Bar' },
            { message: 'Foo' },
            { message: 'Bar' }
          ],
          vtuber: null,
          books: null
        },
        
        mounted() {
          fetch('./sample.json')
//          fetch('https://script.google.com/macros/s/AKfycbzdU4Md20DUSfQFcqJJbUG81LIFGh42WmAQZN_9r3wh3SKSJknB/exec')
            .then(response => {
              return response.json();
            })
            .then(json => {
                this.vtuber = json.vtuber;
            })
        }
//    axios.get('https://script.google.com/macros/s/AKfycbzdU4Md20DUSfQFcqJJbUG81LIFGh42WmAQZN_9r3wh3SKSJknB/exec').then(response => (this.books = response))
      })
    </script>
  </body>
</html>
