<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <link rel="stylesheet" href="css/SCSS.css">
<!--    <script src="https://unpkg.com/vue"></script> -->
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./index.js"></script> 
  </head>
  <body>
    <p>ここにHTMLの文章などが入ります</p>

    <div id="app">
      <h1>{{ message }}</h1>
      <div class="books">
        <div class="book" v-for="book in books">
          <div class="info">
            <div class="title"><i class="book icon"></i> {{book.title}}</div>
            <div class="review">{{book.review}}</div>
          </div>
          <div class="rate">
            <div class="ui statistics">
              <div class="statistic">
                <div class="value"><i class="star icon"></i> {{book.rate}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="app">
      <vue-simple-suggest 
        v-model="selected" 
        :list="suggestionList" 
        :filter-by-query="true">
      </vue-simple-suggest>
    </div>
    
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          selected: null,
          suggestionList: ['Canada', 'China', 'Cameroon', "Italy", "Iraq", "Iceland"]
        }
      })
    </script>
  </body>
</html>
